* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    width: 530px;
    gap: 30px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

label {
    display: block;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    overflow: hidden;
}

h1 {
    margin-top: 300px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.800);
}

h1, h1+p {
    color: white;
    width: 100%;
    text-align: center;
}

h1+p {
    margin-top: auto;
    margin-bottom: 0;
}

p{
    margin: 30px 0;
    font-size: 2rem;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 500px;
    flex-shrink: 0;
    background: fixed;
    background-image: url(https://images.unsplash.com/photo-1498084393753-b411b2d26b34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80);
}

.right {
    background-color: rgb(247, 247, 247);
    flex-direction: column;
    height: 100vh;
}

.top {
    padding-top: 100px;
}

.inputs p {
    padding-top: 30px;
}

.flex {
    display: flex;
    width: 100%;
}

.inputs {
    padding-bottom: 30px;
    width: 100%;
    background-color: white;
}

.wrapper {
    margin: 0 50px;
}

.top span {
    display: block;
}

.top > p:last-child {
    margin-bottom: 80px;
}

.login {
    font-size: 1.3rem;
}